.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid{
    display: grid;
    border: 2px solid black;
    gap: 20px;
}

.row_grid{
    display: inline-grid;
}

.inline_grid{
    display: inline-grid;
    border: 2px solid black;
    gap: 20px;
    height: 90px;
    width: 150px;
}

users_border {
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-right: 10px;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 50px;
}

clicked_text {
  background: #fff;
  border: 1px solid #999;
}

def_text {
  background: #fff;
  border: 1px dashed #999;
}


details_border {
  background: #fff;
  border: 1px dashed #999;
  font-size: 25px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 50px;
}

border {
    border: 5px dashed #999;
    background: #fff;
    padding: 20px;
    margin: 20px;
    font-size: 40px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
